@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #007bff;
    border-bottom: 3px solid #2c3e50;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}
.dead-line {
    margin-left: 10px;
}
.profile {
    margin-right: 10px;
}
.content {
    padding: 20px;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
}
.project {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
.project:hover {
    transform: translateY(-5px);
}
.project-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #333;
}
.project-description {
    flex-grow: 1;
    margin-bottom: 20px;
    color: #666;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.project-button {
    display: block;
    text-align: center;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.project-button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.project-add {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    height: 169.5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
.project-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    background-color: #A9A9A9;
    height: 50px;
    width: 50px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.project-add-btn:hover {
    background-color: #8C8C8C;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
